body {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin: 50px;
    text-align: center;
    font-size: 20px;
    padding: 20 px;
}

#encabezado {
    padding: 20px;
    border-radius: 10px;
}

#requerimientos {
    margin: 20px;
}

#estructura {
    background-color: rgb(184, 38, 38);
    border-radius: 10px;
    padding: 20px;
}

#enlaces {
    text-decoration: none;
    color: black;
    margin: 20px;
}

#encabezado {
    background-color: black;
    color: white;
}

#audio {
    margin: 50px;
}